# 데이터 전처리 (주요변수)

### 생성되는 결과파일
datas 폴더에 생성됨
1. raw_main_preprocessing.csv

In [1]:
import pandas as pd
import numpy as np
from math import log
import matplotlib.pyplot as plt
%matplotlib inline

## 1. 데이터 가져오기

In [2]:
# 원본파일 가져오기
data = pd.read_csv('./datas/data_main_factors.csv', encoding='euc-kr', header=0) # word에서 UTF-8로 저장
# factor 리스트
cols = data.columns.values

data.head()

,key,industry,label,6000903001D1,6000902001D1,6000909001D1,6000904001D3,6000901001D1,6000908001O0,3001104004O0,...,DR00000054,DR00000108,DR00000162,DR00000056,DR00000110,DR00000164,S410001300D1,S41000210FD2,S430000600D2,S410001300D2
0,2013000020,C,0,2.555042,0.281291,0.111828,2.0,2.272311e+08,1011859.75,5.37,...,0,0,0,0,0,0,-25.940100,-0.132330,0.580743,-5.710496
1,2013000040,C,0,0.961381,0.509845,0.018382,0.0,5.731466e+07,-6614447.59,NaN,...,0,0,0,0,0,0,-31.962476,-0.076142,0.061966,-42.528290
2,2013000050,C,0,0.963497,0.509295,0.378315,0.0,6.364386e+08,14574394.60,2.90,...,0,0,0,0,0,0,-31.078363,0.075551,2.513542,-15.188289
3,2013000070,M,0,1.769968,0.361015,-0.037390,0.0,1.658209e+09,-26208013.50,2.98,...,0,0,0,0,1,1,-22.133964,0.020178,1.819475,-8.361328
4,2013000080,C,0,0.637375,0.610734,0.176104,1.0,1.383121e+09,79103047.86,2.54,...,0,0,1,1,1,1,-15.230200,-0.107171,33.306103,-1.603610

## 2. 결측치처리

### 1) N/A -> 0

In [3]:
data.fillna(0, inplace=True)
data.head()

,key,industry,label,6000903001D1,6000902001D1,6000909001D1,6000904001D3,6000901001D1,6000908001O0,3001104004O0,...,DR00000054,DR00000108,DR00000162,DR00000056,DR00000110,DR00000164,S410001300D1,S41000210FD2,S430000600D2,S410001300D2
0,2013000020,C,0,2.555042,0.281291,0.111828,2.0,2.272311e+08,1011859.75,5.37,...,0,0,0,0,0,0,-25.940100,-0.132330,0.580743,-5.710496
1,2013000040,C,0,0.961381,0.509845,0.018382,0.0,5.731466e+07,-6614447.59,0.00,...,0,0,0,0,0,0,-31.962476,-0.076142,0.061966,-42.528290
2,2013000050,C,0,0.963497,0.509295,0.378315,0.0,6.364386e+08,14574394.60,2.90,...,0,0,0,0,0,0,-31.078363,0.075551,2.513542,-15.188289
3,2013000070,M,0,1.769968,0.361015,-0.037390,0.0,1.658209e+09,-26208013.50,2.98,...,0,0,0,0,1,1,-22.133964,0.020178,1.819475,-8.361328
4,2013000080,C,0,0.637375,0.610734,0.176104,1.0,1.383121e+09,79103047.86,2.54,...,0,0,1,1,1,1,-15.230200,-0.107171,33.306103,-1.603610

### 2) '흑전' 0처리
적지,적전→MIN, 흑전→0
당기잠식,전기잠식,잠식지속,완전잠식→MIN

In [6]:
# 6000203022O0 : 당기순이익
data['6000903001D1'].head()

0    2.555042
1    0.961381
2    0.963497
3    1.769968
4    0.637375
Name: 6000903001D1, dtype: float64

In [ ]:
# 흑전 -> 0으로 변경
data.replace("흑전", 0, inplace=True)

## 3. 변수 요약 통계 확인

In [8]:
# 단일건 확인
result = data.DR00000164.describe()
result

count    7626.000000
mean        1.951351
std         3.395753
min         0.000000
25%         0.000000
50%         0.000000
75%         2.000000
max        35.000000
Name: DR00000164, dtype: float64

In [9]:
# 파일 가져오기 (엑셀정리)
# 파이썬 describe() 사용시 문자가 포함된 경우 처리가 필요하므로
data_stat = pd.read_csv('./datas/factor_stat.csv', encoding='euc-kr', header=0) # word에서 UTF-8로 저장

# 결측치 처리
data_stat.fillna("", inplace=True)
data_stat.head()

,main,key,origin_code,code_nm,type,size,gap_size,mean,median,min,max,stdev
0,,EN01174011,1174011,기업결합금액,amount,small,,3803.276685,3819.0,1652.0,5936.0,1646.848822
1,,S430000100O0,S430000100,"액면가(원,US센트)",amount,small,,1324.365578,500.0,0.0,5000.0,1710.873023
2,,EN02703021,2703021,개인채권발행금액,amount,small,,2462.421453,1959.0,1644.0,3967.0,868.703488
3,,EN01067011,1067011,외환보유액,amount,small,,3684.922371,3680.0,3465.0,3893.0,138.110682
4,,I310020532O0,I310020532,순매수대금(기타금융)(백만원),amount,small,,-28.787044,-7.0,-2761.0,2242.0,533.633064

## 4. 최소값 처리
적지,적전→MIN, 당기잠식,전기잠식,잠식지속,완전잠식→MIN

In [10]:
data_stat[data_stat.key == "S430000600O0"] #EN01174011

,main,key,origin_code,code_nm,type,size,gap_size,mean,median,min,max,stdev
607,,S430000600O0,S430000600,시가총액(백만원),amount,,,812273.1141,109713.0,3314.0,367086675.0,7327483.41

In [11]:
stat = data_stat[data_stat.key == "S430000600O0"]
min = stat['min']
min.values[0]

3314.0

In [13]:
for x in cols[3:]:

    stat = data_stat[data_stat.key == x]
    min = stat['min']
    min = float(min.values[0])
    
    try:
        #data[x].replace(to_replace=["적지", "적전", "당기잠식", "전기잠식", "잠식지속", "완전잠식"], value=min, inplace=True) # 오류남. 미확인
        data[x] = data[x].replace("적지", min)
        data[x] = data[x].replace("적전", min)
        data[x] = data[x].replace("당기잠식", min)
        data[x] = data[x].replace("전기잠식", min)
        data[x] = data[x].replace("잠식지속", min)
        data[x] = data[x].replace("완전잠식", min)
        
        data[x] = data[x].map(lambda x : float(x))
        print(x, "min : ", min, "체크완료")
    except:
        pass

6000903001D1 min :  -0.548594288 체크완료
6000902001D1 min :  0.015261668999999999 체크완료
6000909001D1 min :  -26.06887276 체크완료
6000904001D3 min :  0.0 체크완료
6000901001D1 min :  -2666885000.0 체크완료
6000908001O0 min :  -4069603000.0 체크완료
3001104004O0 min :  0.0 체크완료
3001104004D1 min :  0.01 체크완료
6000902012D1 min :  -0.957184247 체크완료
6000909011O0 min :  -3717432000.0 체크완료
6000906020D3 min :  -41.53020348 체크완료
6000904001D4 min :  0.0 체크완료
6000904001D5 min :  0.0 체크완료
TOPCOM0005D1 min :  0.0 체크완료
TOPCOM0630D1 min :  0.0 체크완료
TOPCOM3160D1 min :  0.0 체크완료
FNMKFN01 min :  1.0 체크완료
FNMKFN02 min :  1.0 체크완료
6000901002D1 min :  -1.672074847 체크완료
6000903016D1 min :  -7.623632056 체크완료
6000701032D1 min :  -1.17533396 체크완료
6000904001D6 min :  0.0 체크완료
6000701032D2 min :  -3105471.1 체크완료
6000901002D2 min :  0.040849002999999995 체크완료
6000908001D3 min :  -4.120601632 체크완료
6000906001D2 min :  7127.756376 체크완료
6000102001O0 min :  1.55 체크완료
6000906001D4 min :  -1.188966358 체크완료
6000903001D2 min :  -1.215302052 체크완료
6000906001D5 min :  5.0739300000000004e-05 체크완료
6000901001D3 min :  48230.45179 체크완료
6000902003D3 min :  0.0 체크완료
6000908001D7 min :  0.0 체크완료
6000901001D2 min :  0.0 체크완료
6000908001J1 min :  -321992.0115 체크완료
S430000600D3 min :  0.0 체크완료
S41000660FD1 min :  0.0 체크완료
CO10100170O0 min :  0.0 체크완료
S430000100D1 min :  0.034 체크완료
6000601003O0 min :  -12004832.78 체크완료
6000909041D1 min :  -62.82340726 체크완료
6000401001O0 min :  0.0 체크완료
6000403001O0 min :  0.0 체크완료
6000201001O0 min :  -100.0 체크완료
6000205001O0 min :  -96.21 체크완료
6000908001D4 min :  -9.184029192999999 체크완료
6000902001D2 min :  0.001305914 체크완료
S41000210FD1 min :  -1.325312454 체크완료
S430000600D1 min :  2.6463e-06 체크완료
S41B0D1009O0 min :  0.0 체크완료
S410005000D1 min :  0.085 체크완료
6000901002D3 min :  0.0 체크완료
6000901013D1 min :  0.0 체크완료
6000902003D1 min :  0.002342594 체크완료
6000902003D2 min :  0.0 체크완료
6000902001D3 min :  -665.9569042 체크완료
6000908001D5 min :  -45.52802734 체크완료
6000908001D2 min :  31951.16697 체크완료
6000904001D8 min :  -453.0525541999999 체크완료
6000207003O0 min :  -99.85 체크완료
6000902003J1 min :  -98.62378157 체크완료
6000906020D4 min :  -0.0033965270000000003 체크완료
6000906001D6 min :  -48.04229249 체크완료
6000904001D9 min :  -2541.544246 체크완료
6000906020D5 min :  -1240421000.0 체크완료
6000901002J1 min :  -98.13206318 체크완료
BKMKBOK071 min :  0.37200000000000005 체크완료
BKMKBOK072 min :  -0.174 체크완료
BKMKBOK111 min :  -0.1 체크완료
BKMKBOK112 min :  -0.1 체크완료
BKMKBOK101 min :  5.6979999999999995 체크완료
BKMKBOK102 min :  0.11599999999999999 체크완료
BKMKBOK081 min :  -6.809 체크완료
BKMKBOK082 min :  -0.223 체크완료
ETIVOL min :  11.18131868 체크완료
ETFXEUR min :  -8.222432807 체크완료
ETFXJPY min :  -19.46613226 체크완료
ETFXUSD min :  -11.34464212 체크완료
ETFXCNY min :  -5.546577397999999 체크완료
ETFXHKD min :  -12.03876019 체크완료
DR00000052 min :  0.0 체크완료
DR00000106 min :  0.0 체크완료
DR00000160 min :  0.0 체크완료
DR00000048 min :  0.0 체크완료
DR00000102 min :  0.0 체크완료
DR00000156 min :  0.0 체크완료
DR00000018 min :  0.0 체크완료
DR00000072 min :  0.0 체크완료
DR00000126 min :  0.0 체크완료
EN01182011 min :  393.0 체크완료
EN00107501 min :  494.0 체크완료
EN1182011J min :  -20.78651685 체크완료
EN1075011J min :  -22.91666667 체크완료
EN01143011 min :  466.0 체크완료
EN01143012 min :  267.0 체크완료
EN1143011J min :  -25.30779754 체크완료
EN1143012J min :  -26.25 체크완료
DR00000005 min :  0.0 체크완료
DR00000059 min :  0.0 체크완료
DR00000113 min :  0.0 체크완료
DR00000028 min :  0.0 체크완료
DR00000082 min :  0.0 체크완료
DR00000136 min :  0.0 체크완료
DR00000038 min :  0.0 체크완료
DR00000092 min :  0.0 체크완료
DR00000146 min :  0.0 체크완료
DR00000040 min :  0.0 체크완료
DR00000094 min :  0.0 체크완료
DR00000148 min :  0.0 체크완료
DR00000054 min :  0.0 체크완료
DR00000108 min :  0.0 체크완료
DR00000162 min :  0.0 체크완료
DR00000056 min :  0.0 체크완료
DR00000110 min :  0.0 체크완료
DR00000164 min :  0.0 체크완료
S410001300D1 min :  -32.49925944 체크완료
S41000210FD2 min :  -1.3500041230000002 체크완료
S430000600D2 min :  0.001782567 체크완료
S410001300D2 min :  -53.10243049 체크완료

## 6. 첨도, 왜도 함수 생성

https://datascienceschool.net/view-notebook/8c39a71b453e43d9bd1000f38638e937/

https://en.wikipedia.org/wiki/Algorithms_for_calculating_variance#On-line_algorithm

In [15]:
# 첨도, 왜도 함수
def kur_ske_cal(factor, data,stat):
    mean = stat['mean']
    mean = mean.values[0]
    k_sum1 = k_sum2 = s_sum1 = s_sum2 = 0
    n = len(data)

    for x in data:

        # 첨도용
        k_sum1 = k_sum1 + (x-mean)**4 # 거듭제곱
        k_sum2 = k_sum2 + (x-mean)**2

        # 왜도용
        s_sum1 = s_sum1 + (x-mean)**3 # 거듭제곱
        s_sum2 = s_sum2 + (x-mean)**2


        #print("error :",factor, "  value :", x, "  mean :", mean, s_sum1,s_sum2)
            
    kurtosis = (k_sum1/n) / ((k_sum2/n)**2) - 3    
    skewness = (s_sum1/n) / ((s_sum2/n)**(3/2))
    return kurtosis, skewness

In [16]:
data.head()

,key,industry,label,6000903001D1,6000902001D1,6000909001D1,6000904001D3,6000901001D1,6000908001O0,3001104004O0,...,DR00000054,DR00000108,DR00000162,DR00000056,DR00000110,DR00000164,S410001300D1,S41000210FD2,S430000600D2,S410001300D2
0,2013000020,C,0,2.555042,0.281291,0.111828,2.0,2.272311e+08,1011859.75,5.37,...,0.0,0.0,0.0,0.0,0.0,0.0,-25.940100,-0.132330,0.580743,-5.710496
1,2013000040,C,0,0.961381,0.509845,0.018382,0.0,5.731466e+07,-6614447.59,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,-31.962476,-0.076142,0.061966,-42.528290
2,2013000050,C,0,0.963497,0.509295,0.378315,0.0,6.364386e+08,14574394.60,2.90,...,0.0,0.0,0.0,0.0,0.0,0.0,-31.078363,0.075551,2.513542,-15.188289
3,2013000070,M,0,1.769968,0.361015,-0.037390,0.0,1.658209e+09,-26208013.50,2.98,...,0.0,0.0,0.0,0.0,1.0,1.0,-22.133964,0.020178,1.819475,-8.361328
4,2013000080,C,0,0.637375,0.610734,0.176104,1.0,1.383121e+09,79103047.86,2.54,...,0.0,0.0,1.0,1.0,1.0,1.0,-15.230200,-0.107171,33.306103,-1.603610

In [17]:
# 시간 걸림

kurtosis = []
factors = []
skewness = []

for x in cols[3:]:
    k_result, s_result = kur_ske_cal(x, data[x],data_stat[data_stat.key == x])
    factors.append(x)
    kurtosis.append(k_result)
    skewness.append(s_result)

In [18]:
stats_df = pd.DataFrame()
stats_df['key'] = factors
stats_df['kurtosis'] = kurtosis
stats_df['skewness'] = skewness
stats_df.head()

            key    kurtosis   skewness
0  6000903001D1   44.508909   4.896083
1  6000902001D1    1.559467   0.580803
2  6000909001D1  288.745027  -8.235615
3  6000904001D3    1.966553   1.834351
4  6000901001D1  706.458103  23.655391

In [342]:
# 첨도해석
# 정규분포보다 중심이 높아 뾰족한 경우는 첨도 값이 양수로 나오고, 
# 정규분포는 0, 
# 중심이 정규분포보다 낮고 분포가 비교적 퍼져 있으며, 꼬리부분이 짧은 경우는 음수 값을 가진다

# 왜도 해석
# 왼쪽 편포의 경우는 왜도 값이 - 값으로 나오고, 정규분포는 0이 되며, 오른쪽 편포는 + 값이 나온다

## 7. 정규화 원칙

| no | 치우침 | 크기 | 타입 | 처리방식 | 설명 |
|:----------:|:-------------:|:------:|:------|:------|
|step1|한쪽에 치우친|not small|amount|log|한쪽에 치우친 큰 숫자(금액중심)는 나름의 의미를 지닌다고 판단(ex)시가총액, 수익, 자산 등)
|step2|all|all|count|5Class 카테고리화|공시, 적자누적 횟수 등의 항목은 5개 분류 처리(단, max가 5초과할 경우, 0->0(자체에 의미 있음) 1이상값
|step3|all|all|not count|3stdev -> min/max|횟수 개념과 1번 케이스를 제외한 데이터는 아웃라이어(6시그마)의 오류 가능성이 높다고 판단
|step4|all|all|not count|표준정규화(z값)|3번 적용 이후 정규화처리
에 대해  분류(1~4, 4개))

### 1) 전처리 함수 생성

#### 아웃라이어 제거 함수

In [19]:
# 아웃라이어(6시그마) 제거 함수

def outlier_remove(data, stat):
    
    mean = stat['mean']
    mean = mean.values[0]
    min = stat['min']
    min = min.values[0]
    max = stat['max']
    max = max.values[0]
    stdev = stat['stdev']
    stdev = stdev.values[0]
    
    #print("mean", mean,"stdev",stdev, "min", min, "max", max )
    
    result = []
    
    for x in data:
        if x < mean and x < (min + 3*stdev):
            x = (min + 3*stdev)
        elif x > mean and x > (max - 3*stdev):
            x = (max - 3*stdev)
        else: x = x
        
    
        result.append(x)
        
    return result

#### 표준정규화 함수

In [20]:
# 표준정규화
# (x-mean)/stdev

def standardization(data, stat):
    
    mean = stat['mean']
    mean = mean.values[0]
    min = stat['min']
    min = min.values[0]
    max = stat['max']
    max = max.values[0]
    stdev = stat['stdev']
    stdev = stdev.values[0]
    
    #print("mean", mean,"stdev",stdev, "min", min, "max", max )
    
    result = []
    
    for x in data:
        x = (x-mean)/stdev      
        result.append(x)
        
    return result

#### 5Class 카테고리화 함수

In [21]:
# 공시, 적자누적 횟수 등의 항목은 5개 분류 처리(단, max가 5초과할 경우, 0->0(자체에 의미 있음) 1이상값에 대해 분류(1~4, 4개))


def class_categories(data, stat):
    
    mean = stat['mean']
    mean = mean.values[0]
    min = stat['min']
    min = min.values[0]
    max = stat['max']
    max = max.values[0]
    stdev = stat['stdev']
    stdev = stdev.values[0]
    
    #print("mean", mean,"stdev",stdev, "min", min, "max", max )
    
    # 0을 제외한 퍼센타일 구하기
    temp = pd.DataFrame()
    temp['value'] = data
    temp = temp[temp['value'] != 0]
    p25 = np.percentile(temp, 25)
    p50 = np.percentile(temp, 50)
    p75 = np.percentile(temp, 75)
    
    result = []
    
    for x in data:
        if max > 5 and x != 0:
            # max가 5이하 이거나, 이상이더라도 0은 0값 그대로 사용
            if x <= p25:
                x = 1
            elif x <= p50:
                x = 2
            elif x <= 75:
                x = 3
            else: x = 4
            
        result.append(x)
        
    return result

In [22]:
# test
x = data['DR00000162']
stat = data_stat[data_stat.key == 'DR00000162']
result = class_categories(x,stat)
result

[0.0,
 0.0,
 0.0,
 0.0,
 1,
 0.0,
 0.0,
 3,
 0.0,
 0.0,
 0.0,
 3,
 1,
 0.0,
 0.0,
 0.0,
 1,
 2,
 3,
 0.0,
 3,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1,
 0.0,
 1,
 0.0,
 0.0,
 3,
 1,
 1,
 1,
 1,
 0.0,
 0.0,
 0.0,
 3,
 0.0,
 0.0,
 0.0,
 3,
 1,
 0.0,
 1,
 0.0,
 0.0,
 0.0,
 1,
 0.0,
 0.0,
 0.0,
 3,
 0.0,
 0.0,
 2,
 1,
 3,
 1,
 0.0,
 3,
 0.0,
 0.0,
 0.0,
 1,
 3,
 0.0,
 0.0,
 0.0,
 3,
 0.0,
 1,
 0.0,
 0.0,
 0.0,
 0.0,
 3,
 2,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1,
 1,
 3,
 1,
 1,
 3,
 1,
 1,
 0.0,
 0.0,
 3,
 2,
 0.0,
 3,
 0.0,
 1,
 0.0,
 3,
 2,
 0.0,
 0.0,
 0.0,
 0.0,
 1,
 0.0,
 1,
 0.0,
 3,
 0.0,
 2,
 0.0,
 3,
 0.0,
 0.0,
 1,
 0.0,
 0.0,
 3,
 0.0,
 1,
 1,
 0.0,
 0.0,
 2,
 2,
 3,
 1,
 0.0,
 2,
 2,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1,
 0.0,
 0.0,
 3,
 0.0,
 0.0,
 1,
 1,
 0.0,
 1,
 0.0,
 0.0,
 0.0,
 0.0,
 2,
 0.0,
 0.0,
 1,
 3,
 0.0,
 0.0,
 0.0,
 1,
 3,
 0.0,
 0.0,
 0.0,
 0.0,
 3,
 3,
 3,
 0.0,
 3,
 0.0,
 1,
 0.0,
 3,
 0.0,
 3,
 3,
 3,
 0.0,
 3,
 0.0,
 0.0,
 1,
 0.0,
 3,
 0.0,
 0.0,
 3,
 0.0,
 1,
 0.0,
 3,
 3,
 0.0,
 0.0,
 0.0,
 0.0,
 3,
 0.0,
 0.0,
 1,
 0.0,
 1,
 0.0,
 2,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 3,
 0.0,
 3,
 0.0,
 0.0,
 0.0,
 3,
 0.0,
 0.0,
 3,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1,
 0.0,
 0.0,
 2,
 0.0,
 1,
 0.0,
 0.0,
 0.0,
 1,
 0.0,
 1,
 0.0,
 0.0,
 0.0,
 0.0,
 1,
 1,
 0.0,
 3,
 0.0,
 3,
 3,
 0.0,
 3,
 1,
 0.0,
 0.0,
 1,
 3,
 3,
 0.0,
 0.0,
 2,
 1,
 3,
 0.0,
 0.0,
 0.0,
 2,
 1,
 2,
 0.0,
 0.0,
 2,
 0.0,
 1,
 2,
 0.0,
 2,
 1,
 0.0,
 3,
 3,
 0.0,
 0.0,
 2,
 0.0,
 0.0,
 3,
 3,
 0.0,
 0.0,
 2,
 3,
 1,
 3,
 0.0,
 0.0,
 0.0,
 0.0,
 1,
 0.0,
 1,
 3,
 2,
 1,
 1,
 2,
 0.0,
 1,
 1,
 0.0,
 3,
 3,
 1,
 0.0,
 0.0,
 1,
 0.0,
 3,
 0.0,
 2,
 3,
 1,
 1,
 1,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 3,
 0.0,
 1,
 0.0,
 0.0,
 3,
 0.0,
 1,
 0.0,
 1,
 1,
 1,
 0.0,
 0.0,
 1,
 1,
 0.0,
 0.0,
 2,
 1,
 1,
 1,
 0.0,
 0.0,
 3,
 3,
 0.0,
 3,
 1,
 2,
 0.0,
 0.0,
 3,
 2,
 3,
 0.0,
 1,
 0.0,
 3,
 1,
 0.0,
 1,
 2,
 3,
 0.0,
 0.0,
 1,
 0.0,
 0.0,
 2,
 1,
 2,
 1,
 1,
 3,
 0.0,
 0.0,
 0.0,
 3,
 3,
 3,
 0.0,
 1,
 0.0,
 3,
 0.0,
 0.0,
 1,
 0.0,
 3,
 2,
 3,
 1,
 3,
 1,
 2,
 3,
 2,
 3,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1,
 0.0,
 1,
 2,
 1,
 3,
 3,
 0.0,
 3,
 1,
 0.0,
 1,
 1,
 0.0,
 0.0,
 2,
 0.0,
 3,
 2,
 0.0,
 0.0,
 0.0,
 1,
 1,
 2,
 0.0,
 0.0,
 2,
 2,
 1,
 2,
 0.0,
 0.0,
 0.0,
 2,
 2,
 0.0,
 0.0,
 1,
 1,
 0.0,
 1,
 0.0,
 0.0,
 0.0,
 0.0,
 3,
 1,
 1,
 1,
 0.0,
 3,
 0.0,
 0.0,
 2,
 1,
 0.0,
 1,
 0.0,
 3,
 1,
 0.0,
 0.0,
 0.0,
 0.0,
 2,
 0.0,
 3,
 0.0,
 0.0,
 0.0,
 0.0,
 1,
 2,
 0.0,
 2,
 0.0,
 1,
 0.0,
 1,
 0.0,
 3,
 1,
 3,
 3,
 0.0,
 0.0,
 0.0,
 3,
 0.0,
 0.0,
 0.0,
 0.0,
 3,
 2,
 2,
 0.0,
 1,
 1,
 1,
 0.0,
 1,
 3,
 0.0,
 3,
 3,
 0.0,
 3,
 2,
 1,
 1,
 1,
 0.0,
 2,
 0.0,
 3,
 0.0,
 0.0,
 0.0,
 3,
 3,
 0.0,
 3,
 0.0,
 0.0,
 0.0,
 3,
 3,
 1,
 1,
 3,
 0.0,
 1,
 3,
 0.0,
 2,
 0.0,
 0.0,
 0.0,
 3,
 0.0,
 1,
 1,
 0.0,
 3,
 0.0,
 2,
 1,
 0.0,
 3,
 1,
 3,
 0.0,
 2,
 0.0,
 0.0,
 0.0,
 1,
 0.0,
 0.0,
 3,
 3,
 3,
 3,
 3,
 0.0,
 0.0,
 1,
 3,
 3,
 0.0,
 1,
 1,
 2,
 3,
 1,
 0.0,
 0.0,
 3,
 2,
 0.0,
 3,
 0.0,
 3,
 3,
 3,
 1,
 2,
 1,
 1,
 2,
 0.0,
 0.0,
 0.0,
 3,
 1,
 1,
 0.0,
 0.0,
 0.0,
 3,
 2,
 0.0,
 3,
 0.0,
 0.0,
 0.0,
 1,
 1,
 0.0,
 1,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1,
 0.0,
 1,
 0.0,
 0.0,
 1,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 3,
 0.0,
 2,
 0.0,
 1,
 0.0,
 2,
 2,
 0.0,
 0.0,
 1,
 3,
 0.0,
 0.0,
 1,
 0.0,
 3,
 3,
 0.0,
 3,
 0.0,
 3,
 3,
 0.0,
 0.0,
 0.0,
 1,
 0.0,
 0.0,
 0.0,
 1,
 3,
 3,
 3,
 1,
 1,
 1,
 1,
 3,
 0.0,
 3,
 0.0,
 0.0,
 1,
 3,
 1,
 2,
 3,
 2,
 1,
 0.0,
 0.0,
 3,
 3,
 1,
 0.0,
 1,
 1,
 0.0,
 0.0,
 0.0,
 3,
 1,
 1,
 1,
 2,
 1,
 2,
 0.0,
 0.0,
 1,
 2,
 0.0,
 0.0,
 3,
 1,
 0.0,
 0.0,
 2,
 1,
 2,
 3,
 1,
 2,
 1,
 3,
 0.0,
 1,
 3,
 3,
 2,
 0.0,
 1,
 3,
 0.0,
 3,
 0.0,
 0.0,
 2,
 1,
 0.0,
 3,
 0.0,
 1,
 0.0,
 0.0,
 0.0,
 3,
 1,
 3,
 3,
 3,
 2,
 0.0,
 0.0,
 3,
 3,
 3,
 0.0,
 3,
 3,
 0.0,
 1,
 3,
 0.0,
 0.0,
 2,
 2,
 0.0,
 3,
 3,
 0.0,
 0.0,
 2,
 0.0,
 0.0,
 3,
 1,
 3,
 2,
 0.0,
 3,
 3,
 1,
 3,
 1,
 0.0,
 3,
 1,
 1,
 3,
 3,
 0.0,
 3,
 1,
 1,
 0.0,
 3,
 0.0,
 2,
 0.0,
 1,
 1,
 0.0,
 1,
 0.0,
 2,
 3,
 0.0,
 2,
 0.0,
 3,
 0.0,
 0.0,
 2,
 2,
 1,
 3,
 3,
 0.0,
 1,
 2,
 0.0,
 0.0,
 0.0,
 1,
 0.0,
 0.0,
 0.0,
 1,
 1,
 1,
 3,
 0.0,
 0.0,
 3,
 0.0,
 2,
 1,
 0.0,
 1,
 3,
 0.0,
 0.0,
 3,
 1,
 0.0,
 0.0,
 0.0,
 0.0,
 3,
 2,
 2,
 3,
 0.0,
 0.0,
 3,
 0.0,
 2,
 3,
 1,
 0.0,
 2,
 0.0,
 0.0,
 1,
 3,
 1,
 0.0,
 3,
 0.0,
 0.0,
 0.0,
 0.0,
 1,
 1,
 3,
 2,
 0.0,
 0.0,
 3,
 1,
 1,
 3,
 3,
 3,
 1,
 0.0,
 1,
 1,
 0.0,
 0.0,
 3,
 0.0,
 2,
 0.0,
 3,
 0.0,
 0.0,
 0.0,
 1,
 2,
 0.0,
 0.0,
 3,
 3,
 1,
 1,
 0.0,
 3,
 0.0,
 3,
 1,
 1,
 0.0,
 3,
 0.0,
 1,
 3,
 0.0,
 0.0,
 2,
 0.0,
 1,
 1,
 3,
 3,
 1,
 3,
 0.0,
 0.0,
 2,
 0.0,
 2,
 1,
 3,
 0.0,
 1,
 0.0,
 3,
 0.0,
 2,
 0.0,
 1,
 0.0,
 0.0,
 2,
 0.0,
 0.0,
 3,
 1,
 3,
 1,
 0.0,
 0.0,
 1,
 1,
 0.0,
 1,
 1,
 0.0,
 0.0,
 0.0,
 2,
 1,
 3,
 3,
 2,
 1,
 0.0,
 3,
 ...]

### 2) 정규화 일괄 적용

In [23]:
stat1 = data_stat[data_stat.key == 'EN01174011']
stat2 = stats_df[stats_df.key == 'EN01174011']
value = stat2['key']
value.values[0]

IndexError: index 0 is out of bounds for axis 0 with size 0

In [24]:
result_df = data
method_df = pd.DataFrame()
method_list = []
factors = []

for x in cols[3:]:
    
    # 해당 factor 통계치 가져오기
    stat1 = data_stat[data_stat.key == x] # 평균, 중앙값, min, max, 편차
    stat2 = stats_df[stats_df.key == x]  #첨도 왜도 
    type = stat1['type']
    type = type.values[0]    
    size = stat1['size']
    size = size.values[0]       
    min = stat1['min']
    min = min.values[0] 
    max = stat1['max']
    max = max.values[0] 
    skewness = stat2['skewness']
    skewness = skewness.values[0]   
    add = 0
    method = ''
    
    try:

        if abs(skewness) > 3 and type == 'amount' and size != 'small':
            # step1 조건 : 왜도 절대값이 3 초과, 타입이 amount, 규모가 not small
            if min < 0:
                add = min*-1   # log처리 전 음수 양수화(+ min + 1)
            else:
                add = 0
            result_df[x] = result_df[x].map(lambda z : z+add)
            result_df[x].replace(0, 1, inplace=True)
            result_df[x] = result_df[x].map(lambda z : np.log(z))
            print("log처리 : ", x)
            method = 'log'
        elif type == 'count':
            # step2 조건 : 타입이 count
            if max != 0:
                result_df[x] = class_categories(result_df[x], stat1)
                print("5class 카테고리 : ", x)
                method = '5class'
        else:
            # 나머지 step3,4
            outlier_removed = outlier_remove(result_df[x], stat1)
            result_df[x] = standardization(outlier_removed, stat1)
            print("표준정규화 : ", x)
            method = 'standard'
    except:
        print("error : ", x)
        method = 'error'
    
    method_list.append(method)
    factors.append(x)
    
    
method_df['key'] = factors
method_df['method'] = method_list

표준정규화 :  6000903001D1
표준정규화 :  6000902001D1
표준정규화 :  6000909001D1
5class 카테고리 :  6000904001D3
log처리 :  6000901001D1
log처리 :  6000908001O0
표준정규화 :  3001104004O0
표준정규화 :  3001104004D1
표준정규화 :  6000902012D1
log처리 :  6000909011O0
표준정규화 :  6000906020D3
표준정규화 :  6000904001D4
표준정규화 :  6000904001D5
표준정규화 :  TOPCOM0005D1
표준정규화 :  TOPCOM0630D1
표준정규화 :  TOPCOM3160D1
표준정규화 :  FNMKFN01
표준정규화 :  FNMKFN02

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:20: RuntimeWarning: invalid value encountered in double_scalars

표준정규화 :  6000901002D1
표준정규화 :  6000903016D1
표준정규화 :  6000701032D1
표준정규화 :  6000904001D6
표준정규화 :  6000701032D2
표준정규화 :  6000901002D2
표준정규화 :  6000908001D3
log처리 :  6000906001D2
표준정규화 :  6000102001O0
표준정규화 :  6000906001D4
표준정규화 :  6000903001D2
표준정규화 :  6000906001D5
log처리 :  6000901001D3
표준정규화 :  6000902003D3
표준정규화 :  6000908001D7
표준정규화 :  6000901001D2
표준정규화 :  6000908001J1
표준정규화 :  S430000600D3
표준정규화 :  S41000660FD1
표준정규화 :  CO10100170O0
표준정규화 :  S430000100D1
log처리 :  6000601003O0
표준정규화 :  6000909041D1
표준정규화 :  6000401001O0
표준정규화 :  6000403001O0
표준정규화 :  6000201001O0
표준정규화 :  6000205001O0
표준정규화 :  6000908001D4
표준정규화 :  6000902001D2
표준정규화 :  S41000210FD1
표준정규화 :  S430000600D1
표준정규화 :  S41B0D1009O0
표준정규화 :  S410005000D1
표준정규화 :  6000901002D3
표준정규화 :  6000901013D1
표준정규화 :  6000902003D1
표준정규화 :  6000902003D2
표준정규화 :  6000902001D3
표준정규화 :  6000908001D5
log처리 :  6000908001D2
표준정규화 :  6000904001D8
표준정규화 :  6000207003O0
표준정규화 :  6000902003J1
표준정규화 :  6000906020D4
표준정규화 :  6000906001D6
표준정규화 :  6000904001D9
log처리 :  6000906020D5
표준정규화 :  6000901002J1
표준정규화 :  BKMKBOK071
표준정규화 :  BKMKBOK072
표준정규화 :  BKMKBOK111
표준정규화 :  BKMKBOK112
표준정규화 :  BKMKBOK101
표준정규화 :  BKMKBOK102
표준정규화 :  BKMKBOK081
표준정규화 :  BKMKBOK082
표준정규화 :  ETIVOL
표준정규화 :  ETFXEUR
표준정규화 :  ETFXJPY
표준정규화 :  ETFXUSD
표준정규화 :  ETFXCNY
표준정규화 :  ETFXHKD
5class 카테고리 :  DR00000052
5class 카테고리 :  DR00000106
5class 카테고리 :  DR00000160
5class 카테고리 :  DR00000048
5class 카테고리 :  DR00000102
5class 카테고리 :  DR00000156
5class 카테고리 :  DR00000018
5class 카테고리 :  DR00000072
5class 카테고리 :  DR00000126
표준정규화 :  EN01182011
표준정규화 :  EN00107501
표준정규화 :  EN1182011J
표준정규화 :  EN1075011J
표준정규화 :  EN01143011
표준정규화 :  EN01143012
표준정규화 :  EN1143011J
표준정규화 :  EN1143012J
5class 카테고리 :  DR00000005
5class 카테고리 :  DR00000059
5class 카테고리 :  DR00000113
5class 카테고리 :  DR00000028
5class 카테고리 :  DR00000082
5class 카테고리 :  DR00000136
5class 카테고리 :  DR00000038
5class 카테고리 :  DR00000092
5class 카테고리 :  DR00000146
5class 카테고리 :  DR00000040
5class 카테고리 :  DR00000094
5class 카테고리 :  DR00000148
5class 카테고리 :  DR00000054
5class 카테고리 :  DR00000108
5class 카테고리 :  DR00000162
5class 카테고리 :  DR00000056
5class 카테고리 :  DR00000110
5class 카테고리 :  DR00000164
표준정규화 :  S410001300D1
표준정규화 :  S41000210FD2
표준정규화 :  S430000600D2
표준정규화 :  S410001300D2

In [26]:
method_df.head()

            key    method
0  6000903001D1  standard
1  6000902001D1  standard
2  6000909001D1  standard
3  6000904001D3    5class
4  6000901001D1       log

In [27]:
# 변경후 확인
# 파일생성(확인용)
result_df.to_csv('./datas/raw_main_preprocessing.csv', encoding='euc-kr')